<h2>Ayuda sobre moderadores</h2>

<p>Actualmente todo se debe hacer por comandos, muy pronto lo podrás hacer mucho mas fácil vía web.</p>

<h2>Añadir un moderador a mi sala</h2>

<p><code>/msg chan access #CANAL add NICK NIVEL</code></p>
<p>Ejemplo, si tu canal es #marte y quieres darle al nick "Marciano" nivel 100, tendrás que escribir en el chat:</p>
<p><code>/msg chan access #marte add marciano 100</code></p>
<p>Los diferentes niveles que hay son:</p>
<ul>
	<li>3 a los voice (+)</li>
	<li>5 a los moderadores (@)</li>
	<li>10 a los administradores (@)</li>
</ul>	


<h2>Eliminar un moderador</h2>

<p>Si crees que un moderador está haciendo mal uso de su status, no dudes en eliminarlo y comunicarlo a un operador, quizás sea necesario eliminarlo como moderador de otros canales.</p>
<p><code>/msg chan access #CANAL del NICK</code></p>
<p>Ejemplo, si tu canal es #marte y quieres eliminar al nick "Humano", tendrás que escribir en el chat:</p>
<p><code>/msg chan access #marte del humano</code></p>

<h2>Ver que moderadores tiene mi sala</h2>

<p>Con el comando list, puedes ver todos los usuarios que tienen algún nivel en tu sala de chat</p>
<p><code>/msg chan access #CANAL list</code></p>
<p>Ejemplo, si quieres ver que usuarios tienen algún nivel en tu sala #Marte escribes en el chat</p>
<p><code>/msg chan access #marte list</code></p>