<p>Si en tu canal estás recibiendo ataques, pasate por la ayuda de comandos irc. Así sabrás que comandos tienes a tu alcance para evitarlo lo antes posible.</p>
<p>También puedes ponerte en contacto con los operadores de red, siempre puedes encontrar a alquien del equipo en canal #ayuda</p>
