<p>Si ya tienes una cuenta de usuario.</p>
<p>Simplemente tienes que introducir tu usuario y contraseña en la <a href="{{ page_login }}">página de login </a>, puedes acceder pinchando en el botón de la parte superior donde pone "Tu Cuenta"</p>