<p>Si tienes tu nick registrado. Nadie puede iniciar sesión, ni chatear con tu nick.</p>
<p>Si crees que alguien te ha podido coger tu contraseña, vete a la <a href="{{ page_user_settings }}">página de Preferencias de Usuario </a>para poner una contraseña nueva.</p>
<p>El equipo del chat nunca te vamos a pedir la contraseña, es privada de cada usuario y no se la digas a nadie nunca.</p>