<p>El nick o apodo es lo que te identifica en el chat.</p>
<p>Por eso los nicks son únicos para cada usuario, si no tienes un nick registrado, solo podrás ponerte nicks que no estén registrados actualmente.</p>
<p>Y cuando te desconectes del chat, cualquier persona podría utilizarlo</p>

<p>Una vez has llegado al chat para cambiarte de nick tienes varias opciones, te las explicamos a continuación.</p>
<ol type="a">
	<li><p><strong>Si estás en el chat flash (chat rojo)</strong> , puedes ver el proceso con imágenes paso a paso <a href="{{ path('ant_help_stepper', {'template' : 'change-nick-flash' }) }}">pinchando aquí.</a></p></li>
	<li><p><strong>Si estás en el chat movil ( chat kiwiirc) </strong>, puedes ver el proceso con imágenes paso a paso <a href="{{ path('ant_help_stepper', {'template' : 'change-nick-kiwi' }) }}">pinchando aquí.</a></p></li>
</ol>

<div class="alert alert-info" role="alert">
	<p><strong>Si siempre sueles utilizar el mismo nick, te recomendamos que lo registres para que nadie mas pueda utilizarlo.</strong></p>
	{% include "HelpBundle:User:Info/register.html.twig" %}
</div>