<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">No recuerdo mi contraseña</div>
  <div class="panel-body">
    <p>Acude a la <a href="{{ page_reset_password }}">página de resetear contraseña </a>, y te enviaremos un email a tu correo, para restablecer la contraseña.</p>
    <p>Esta acción solo podrás hacerla una vez cada día.</p>
    <p>Si ya le has dado a recordar contraseña, revisa tu bandeja de entrada, mirando también en la carpeta de spam, por si te ha llegado allí.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Quiero cambiar mi contraseña</h3>
  </div>
  <div class="panel-body">
    Una vez hayas iniciaso sesión, dirigete a la <a href="{{ page_user_settings }}">página de "Preferencias de Usuario" </a> allí podrás cambiar tu contraseña por una contraseña nueva.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">No me llega el email para resetear mi contraseña</h3>
  </div>
  <div class="panel-body">
    <p>Si no te llega el email de resetear password, quizás haya habido un error temporal.</p>
    <p>Envianos un correo informando del error, o entra a la sala #ayuda, quizás alguien te pueda echar una mano.</p>
  </div>
</div>