<p>Actualmente solo puedes registrar tu nick via web, no existe la posibilidad de hacerlo desde el irc.</p>
<p>Solo necesitas rellenar un formulario con tu correo electrónico, donde te enviaremos un email para finalizar el registro.</p>
<p>Para registrarte visita nuestra página de <a href="{{ page_register }}" target="_blank">registro de usuario</a>.</p>